body {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: black;
}
h1 {
    color:white;
    font-size:80px;
    background-image: url("main.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
}
h2 {
    color: rgb(0, 200, 40);
    font-size: 50px;
    background-image: url("h2.png");
    background-size: cover;
    background-position: center;
}
h3 {
    color: rgb(31, 67, 134);
    font-size: 50px;
}
h4 {
    color: white;
    font-size: 30px;
}
p {
    color: white;
    font-size: 20px;
}
pre {
    color: white;
    font-size:15px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
    .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}
.text-container {
  max-width: 1000px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.6;
}
.buttonpgmh {
  display: block;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  margin-left:auto;
  margin-right:auto;
  width: 300px;
}
.buttonback {
  display: block;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: rgb(31, 67, 134);
  border: none;
  border-radius: 15px;
  margin-left:auto;
  margin-right:auto;
  width: 50px;
}
.buttonmedia {
  display: block;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  border-radius: 15px;
  margin-left:auto;
  margin-right:auto;
  width: 120px;
}